/nvim/lazy-lock.json

/yazi/config/flavors
/yazi/config/plugins
/yazi/state

/lazygit/state.yml

/nushell/*
!/nushell/config.nu
!/nushell/env.nu

/.glzr/glazewm/errors.log
/.glzr/zebar/boilerplate-react-buildless
/.glzr/zebar/boilerplate-solid-ts
*tmp*
/.glzr/zebar/normalize.css
/.glzr/zebar/settings.json
/.glzr/zebar/starter/*
!/.glzr/zebar/starter/styles.css
!/.glzr/zebar/starter/with-glazewm.html
!/.glzr/zebar/starter/with-glazewm.zebar.json
