startup_commands      toggle_custom_color;toggle_titlebar;fit_to_page_width
custom_background_color              0.12 0.12 0.12
custom_text_color                    0.8 0.8 0.8
page_separator_width                 2
page_separator_color                 0.8 0.8 0.8
ui_background_color                  0.20 0.20 0.20
